#tblbodyLineasOrdenDeCompra {
    border-collapse: collapse !important; /* Combina los bordes de las celdas */
  }
  
  #tblbodyLineasOrdenDeCompra th,
  #tblbodyLineasOrdenDeCompra td {
    /*border: 1px solid rgb(24, 21, 202);*/ /* Añade un borde de 1px sólido en todas las celdas */
    padding: 8px !important; /* Añade un relleno de 8px para separar el contenido del borde */
  }
  #tblbodyLineasOrdenDeCompra tbody tr:nth-child(even) {
    background-color: #f2f2f2 !important; /* Color de fondo gris tenue para filas pares */
  }
  
  #tblbodyLineasOrdenDeCompra tbody tr:nth-child(odd) {
    background-color: #ffffff !important; /* Color de fondo blanco para filas impares */
  }
  #tblbodyLineasOrdenDeCompra tbody td#articulo {
    text-align: left !important; /* Alinea el contenido de la celda a la izquierda */
  }