/* Estilos responsivos para tamaños de pantalla - Small, Medium, Large */
/* Reglas base (aplicadas siempre, fuera de media queries) */
.btn {
    width: 100%;
    height: 45px;
    background-color: #28a745;
  }
  .btn:hover {
    background-color: #7e8180 !important;
  }
  /* Small only (max-width: 39.9375em = 639px) */
  @media screen and (max-width: 39.9375em) {
    body{
      font-size: 12px;
    }
    .tabs .tab a {
      padding: 0 5px;
    }
    .tblcontenedor {
      margin-top: 17px;
    }
    #tblcontenedores tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    #tblcontenedores tbody tr:nth-child(odd) {
      background-color: #ffffff;
    }
    h2 {
      font-size: 2.50rem;
      line-height: 94%;
      margin: 1.373333rem 0 1.424rem 0;
    }
    h5 {
      font-size: 12px !important;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 110%;
      margin: 5px;
      text-align: left;
    }
    h6 {
      font-size: 11px !important;
      line-height: 110%;
      margin: 0;
    }
    #modalFiltro {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      background-color: #fafafa;
      padding-top: 5px;
      padding-bottom: 25px;
      top: 26px !important;
      max-height: 100%;
      height: auto;
      width: 95%;
      margin: auto;
      overflow-y: auto;
      border-radius: 2px;
      will-change: top, opacity;
    }
    .switch, .switch * {
      margin-bottom: 15px;
    }
    .switch label .lever {
      content: "";
      display: inline-block;
      position: relative;
      width: 75px;
      height: 34px;
      background-color: #28a745;
      border-radius: 5px;
      margin-right: 10px;
      transition: background 0.3s ease;
      vertical-align: middle;
      margin: 0 16px;
    }
    .switch label .lever:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 37px;
      height: 33px;
      border-radius: 8%;
      left: 38px;
      top: 0px;
      z-index: 2;
      background-color: #a9a4a4;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease;
    }
    .switch label input[type="checkbox"]:checked + .lever:after {
      background-color: #7e8180;
      left: 0px;
    }
    .switch label input[type="checkbox"]:checked + .lever {
      background-color: #28a745;
    }
    .switch label .lever:before {
      background-color: rgba(14, 230, 61, 0);
    }

    .sidenav {
      background-color: #4c4e4e !important;
      width: 90%;
    }
    #codigo-barras, #cant-pedida {
      text-align: center !important;
      font-size: 1em;
    }
    #cantidadDeRegistros {
      font-size: 12px;
    }
    .inventario-fecha-estilo{
      color: #28a745 !important;
      margin-top: -35px;
      top: 0px !important;
      font-size: 14px !important;
      }

      #theadDetallestrasladosVerif {
        display: none; /* Oculta los encabezados */
    }

    #tblDetallestrasladosVerif tbody,
    #tblDetallestrasladosVerif tr,
    #tblDetallestrasladosVerif td {
        display: block;
        width: 100%;
    }

    #btnDetalleTrasladosVerif{

      width: 100%;
    }



    #tblDetallestrasladosVerif tr {
        margin-bottom: 0.9375em; /* 15px en em ≈ 0.9375em */
    }

    #tblDetallestrasladosVerif td {
        position: relative;
        padding-left: 50%; /* Espacio para el data-label */
        text-align: left !important; /* Sobreescribe alineación */
        border: none; /* Opcional */
        box-sizing: border-box;
    }

    #tblDetallestrasladosVerif td:before {
        content: attr(data-label);
        position: absolute;
        left: 0.625em; /* 10px ≈ 0.625em */
        width: 45%;
        padding-right: 0.625em; /* 10px ≈ 0.625em */
        font-weight: bold;
        text-align: left;
        color: #333;
    }

    #tblDetallestrasladosVerif td[data-label="ARTICULO"] h5,
    #tblDetallestrasladosVerif td[data-label="ARTICULO"] h6 {
        text-align: left !important;
    }

    #tblDetallestrasladosVerif td[colspan] {
      padding-left: 0.625em; /* Alinea con el resto en móvil */
      text-align: right !important;
  }
  .download-buttons {
    gap: 0.3em; /* Reduce aún más el espacio en móvil si es necesario */
}

.paginador-container {
  margin: 20px 10em;
  width: 40%;
}

.paginador-controls {
  flex-direction: column; /* Apila los elementos verticalmente */
  gap: 5px; /* Reduce el espacio entre elementos */
}

.paginador-btn-container, .paginador-select-container {
  width: 100%!important; /* Ocupa todo el ancho disponible */
  text-align: center; /* Centra el contenido */
}

.paginador-btn {
  display: block;
  padding: 8px; /* Más espacio clickable */
}

.paginador-select {
  width: 100%; /* Select ocupa todo el ancho */
  max-width: 45px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra el select */
}
#bodegaSelectOC {
  width: 100% !important; /* Ocupa todo el espacio disponible dentro de su contenedor */
}

#bodegaButtonOC {
  width: 100% !important; /* Ocupa todo el espacio disponible dentro de su contenedor */ 
}

#lista-articulo li {
  width: 100%;  
}

#lista-articulo li .container-img { 
  padding: 19px;
  margin: 8px 0;  
}

.row .col.s6 {
  width: 50% !important;   
}

.grid-container {
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columnas */
}
#fechaInventario{ 
    width: 16em !important;
}

.barcodeGen {
    padding-top: 20% !important;
}

.flotante-acciones {
    position: absolute;
    bottom: 164px;
    right: 9px;
    width: 28px !important;
    background: #bfbbbb94;
    border-radius: 16px;
    padding-top: 14px!important;
    border: solid 1px #c1c1c1a8;
    margin-left: 12em;
}
#verifica-contenedores{
  width: 100%;
}

#totalregistros {   
    margin-left: 0!important;
}

}  
  /* Medium and up (min-width: 40em = 640px) */
  @media screen and (min-width: 40em) {
  
    #dashboardselect {
      width: 50%;
      height: 45px;
      background-color: #28a745;
    }
    .tblcontenedor {
      margin-top: 17px;
    }
    #tblcontenedores tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    #tblcontenedores tbody tr:nth-child(odd) {
      background-color: #ffffff;
    }
    h2 {
      font-size: 2.56rem;
      line-height: 94%;
      margin: 1.373333rem 0 1.424rem 0;
    }
    /* #envoltorio {
           position: relative;
  } */
    .sidenav {
      background-color: #4c4e4e !important;
      width: 25%;
    }

    #tblDetallestrasladosVerif th,
    #tblDetallestrasladosVerif td {
        width: auto; /* Ajusta al contenido en pantallas grandes */
    }
    .paginador-controls {
      flex-direction: row; /* Mantiene los elementos en horizontal */
    }
    .row .col.m4 {
      width: 25%!important;   
  }

  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columnas */
  }
  }
  
  /* Medium only (min-width: 40em and max-width: 63.9375em = 640px - 1022px) */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    h2 {
      font-size: 3.56rem;
      line-height: 100%;
      margin: 3.373333rem 0 1.424rem 0;
    }

    #modalFiltro {
      display: none !important;
      position: fixed !important;
      left: 0 !important;
      right: 0 !important;
      background-color: #fafafa !important;
      padding-top: 5px !important;
      padding-bottom: 25px !important;
      top: 26px !important;
      max-height: 100% !important;
      height: auto !important;
      width: 45% !important;
      margin: auto !important;
      overflow-y: auto !important;
      border-radius: 2px!important;
      will-change: top, opacity !important;
    }
    .vistabusqueda {
      width: 100em;
    }
    .row .col.m12 {
      margin-left: 355px !important;
    }
    .row .col.m4 {
      width: 24%!important;   
  }
.grid-container {
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* 2 columnas */
}

#totalregistros {   
    margin-left: 90px!important;
}

  }
  
  /* Large and up (min-width: 64em = 1024px) */
  @media screen and (min-width: 64em) {
    #nav-mobile .reset-left {
      margin-right: 5px !important;
    }
    .container {
      margin-top: 42px;
    }
    #modalFiltro {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      background-color: #fafafa;
      padding-top: 5px;
      padding-bottom: 25px;
      top: 26px !important;
      max-height: 100%;
      height: auto;
      width: 25%;
      margin: auto;
      overflow-y: auto;
      border-radius: 2px;
      will-change: top, opacity;
    }
    h2 {
      font-size: 3.56rem;
      line-height: 100%;
      margin: 3.373333rem 0 1.424rem 0;
    }
    h5 {
      font-size: 14px !important;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 110%;
      margin: 5px;
      text-align: left;
    }
    h6 {
      font-size: 12px !important;
      line-height: 110%;
      margin: 0;
    }
    .switch label .lever {
      content: "";
      display: inline-block;
      position: relative;
      width: 75px;
      height: 34px;
      background-color: #28a745;
      border-radius: 5px;
      margin-right: 10px;
      transition: background 0.3s ease;
      vertical-align: middle;
      margin: 0 16px;
    }
    .switch label .lever:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 37px;
      height: 33px;
      border-radius: 8%;
      left: 38px;
      top: 0px;
      z-index: 2;
      background-color: #a9a4a4;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease;
    }
    .switch label input[type="checkbox"]:checked + .lever:after {
      background-color: #7e8180;
      left: 0px;
    }
    .switch label input[type="checkbox"]:checked + .lever {
      background-color: #28a745;
    }
    .switch label .lever:before {
      background-color: rgba(14, 230, 61, 0);
    }
    .input-field > label {
      font-size: 1.2rem;
    }
    #lista-articulo ul {
      width: 80%;
      padding: 0;
      display: table;
      margin: 0 auto;
    }
    #vistabusqueda {
      width: 80em;
    }
    .row .col.m12 {
      margin-left: 355px !important;
    }
    #detallesProducto .row .col {
      width: 40%;
      margin-left: 16em;
    }
    .loading {
      left: 44%;
    }
    #codigo-barras, #cant-pedida {
      text-align: center !important;
      font-size: 1em;
    }
    .row .col.l3 {
      width: 25% !important; 
  }
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* 2 columnas */
  }

  }
  
  /* Large only (min-width: 64em and max-width: 74.9375em = 1024px - 1199px) */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    #modalFiltro {
      width: 45%;
    }
    #bodegaSelect {
      width: 70%;
    }
    .grid-container {
      grid-template-columns: repeat(4, minmax(0, 1fr)); /* 2 columnas */
    }

  }
  
  /* Reglas adicionales que no encajan exactamente en los rangos solicitados */
  @media only screen and (max-width: 62em) { /* 992px */
    nav .brand-logo {
      left: 38%;
      transform: translateX(-50%);
    }
    i.large {
      font-size: 2rem;
    }
    #forms {
      padding-top: 10px;
    }
    #forms .select-wrapper input.select-dropdown {
      position: relative;
      cursor: pointer;
      background-color: #ccc !important;
      border: 1px solid #ffffff;
      border-radius: 5px;
      outline: none;
      height: 1.3rem;
      line-height: 3rem;
      width: 92%;
      font-size: 14px;
      margin: -6px;
      padding: 12px;
      display: block;
      /* user-select: none; */
      z-index: 1;
      left: 8px;
    }
    .select-wrapper + label {
      position: absolute;
      top: -36px;
      color: #000000;
      font-size: 1rem;
    }
    .input-field {
      position: relative;
      margin-top: 10px;     
      margin-bottom: 71px;
    }
    nav {
      box-shadow: 0 2px 2px 0 rgba(248, 15, 0, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.12), 0 1px 5px 0 rgba(255, 255, 255, 0.20);
    }
    .dropdown-content li > a, .dropdown-content li > span {
      font-size: 14px;
      color: #000;
      display: block;
      line-height: 22px;
      padding: 14px 16px;
    }
    h5 {
      font-size: 14px !important;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 110%;
      margin: 5px;
      text-align: left;
    }
    h6 {
      font-size: 12px !important;
      line-height: 110%;
      margin: 0;
    }
    .row {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1px;
    }
    .card-panel1 {
      transition: box-shadow 0.25s;
      padding: 24px;
      margin: 0.5rem 0 1rem 0;
      border-radius: 2px;
      background-color: #fff;
    }
    .select1 {
      position: absolute;
      top: 20px;
    }
    #nav-wrapper-l {
      color: #fff;
      background-color: #ff0008;
      width: 116%;
      height: 61px;
      line-height: 56px;
    }
    #mal {
      position: relative;
      cursor: pointer;
      background-color: #7875758c !important;
      border: 1px solid #ffffff;
      border-radius: 5px;
      outline: none;
      height: 1.3rem;
      line-height: 3rem;
      width: 87%;
      font-size: 16px;
      margin: -6px;
      padding: 12px;
      display: block;
      /* user-select: none; */
      left: 20px;
    }
    #text input[type="text"]:not(.browser-default) {
      background-color: #dedada;
      border: none;
      border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      height: 3rem;
      width: 210%;
      font-size: 16px;
      margin: 0 0 8px 0;
      padding: 0;
      box-shadow: none;
      box-sizing: content-box;
      transition: border 0.3s, box-shadow 0.3s;
      top: 1px;
      position: relative;
    }
    #forms2 .select-wrapper input.select-dropdown {
      position: relative;
      cursor: pointer;
      background-color: rgb(209, 209, 211) !important;
      border: 1px solid #ffffff;
      border-radius: 5px;
      outline: none;
      height: 1.3rem;
      line-height: 3rem;
      width: 66%;
      font-size: 16px;
      margin: -6px;
      padding: 12px;
      display: block;
      /* user-select: none; */
      z-index: 1;
      left: 8px;
    }
    #btn09 {
      border-radius: -8px;
      margin: -4px;
      z-index: 8;
      fill: rgb(255, 255, 255);
      background-color: red;
      height: 42px;
      width: 151px;
    }
    #forms1 .select-wrapper input.select-dropdown {
      position: relative;
      cursor: pointer;
      background-color: #000 !important;
      border: 1px solid #ffffff;
      border-radius: 5px;
      outline: none;
      height: 1.3rem;
      line-height: 3rem;
      width: 84%;
      font-size: 16px;
      margin: -6px;
      padding: 12px;
      display: block;
      /* user-select: none; */
      z-index: 1;
      left: 8px;
    }
    #img1 {
      width: 54%;
      margin-left: 89px;
    }
    #btn3 {
      width: 4px;
      margin: -39px;
      margin-left: 14px;
      margin-top: -97px;
      height: 42px;
      background-color: #000;
      padding: 0 30px;
    }
    #btn4 {
      width: 4px;
      margin: -38px;
      margin-left: 106px;
      margin-top: -115px;
      height: 43px;
      background-color: #000;
      padding: 0 30px;
    }
    .boton-menos-car, .boton-mas-car {
      color: #fff !important;
      background-color: #000 !important;
      border-color: #000 !important;
      height: 45px !important;
      width: 30% !important;
      border-radius: 3% !important;
      padding: 8px;
      text-align: center !important;
      border: solid 1px #000;
    }
    .boton-menos-car {
      float: left !important;
    }
    .ui-icon-car {
      background-color: #000 !important;
      height: 46px;
      width: 100%;
      font-size: 16px;
      text-transform: none;
      color: #fff !important;
      text-align: center !important;
      border-radius: 0.2em;
      border-color: #ddd !important;
    }
    .ui-btn {
      font-size: 16px !important;
      font-weight: normal !important;
      margin: 0.5em 0;
      padding: 0.7em 1em;
      display: block;
      position: relative;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      /* user-select: none; */
      text-decoration: none !important;
    }
    .datepicker-footer {
      width: 102%;
    }
    .modal {
      width: 95%;
    }
    .boleta {
      flex-wrap: wrap;
    }
    /* .col.s4 {
      width: 100% !important;
      margin-bottom: 15px;
    } */
    .btn-container-boleta {
      flex-direction: column;
      align-items: stretch;
    }
    .btn-guardar-boleta {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .btn-guardar-boleta:last-child {
      margin-bottom: 0;
    }
    #myTableBoleta {
      font-size: 12px;
    }
    #tblbodyBoleta td.boleta-description {
      max-width: 150px;
    }
    #myTableBoleta thead th.boleta-header, #tblbodyBoleta td {
      padding: 6px;
    }
  }
  
  /* Ajustes adicionales */
  @media (max-width: 48em) { /* 768px */
    .input-ubicacion {
      width: 90%;
    }
  }
  @media only screen and (max-width: 40em) { /* 640px */
    #nav-mobile .reset-left {
      margin-right: 5px !important;
    }
  }