:root {
  --color-primary: #000; /* Color principal predeterminado (rojo) */
}


.themeColor{
  background-color:#28a745 !important;
  color:white;
}

.themeColor2{
  background-color: #7e8180 !important;
  color: white;
}

tr.themeColor {
  align-content: center;
}

th.themeColor{
  text-align: center;
}