/* .image-viewer {
  width: 500px; 
  height: 500px;
  position: relative;
  perspective: 1000px;
  margin: 0 auto;
}

.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: spin 20s infinite linear;
}

.image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */
